/SE2045Session/nbproject/private/
/SE2045Session/build/
/Se2045_StudentManagement/nbproject/private/
/Se2045_StudentManagement/build/
/SE2045_ProductManagement/nbproject/private/
/SE2045_ProductManagement/build/
